krugi.local, phpcat.local, ttt72.local, domain.dev.php-cat.com {
    
	# Формируем самоподписной сертификат для работы https
	tls internal
    # tls support@php-cat.com

    php_fastcgi 2308beget:9000
    
    file_server
    encode gzip

    root /storage /2308beget/storage/public
    root * /2308beget/public

}

php.local, d2.php-cat.com {

	# Формируем самоподписной сертификат для работы https
	tls internal
    # tls support@php-cat.com

    php_fastcgi base17:9000

    file_server
    encode gzip

    root /storage /base17/storage/public
    root * /base17/public

}


#base16.local, photo.doc.loc {
	# Формируем самоподписной сертификат для работы https
#	tls internal
    # tls support@php-cat.com

 #   php_fastcgi base16sites:9010

  #  file_server
   # encode gzip

   # root /storage /base16sites/storage/public
   # root * /base16sites/public

#}

*.ru, *.xn--p1ai, *.com, *.info {
    # tls support@php-cat.com
    tls internal
    respond "ещё чуть чуть и вот вот, а пока идите сюда > <a href='https://php-cat.com' target='_blank' >php-cat.com</a>"
}