(base) {
    tls internal
    file_server
    encode gzip
}

ar.php-cat.local {
    import base
    php_fastcgi 2309livewire:9000
    root * /home/2309livewire/public
}


afisha.local {
    import base
    #reverse_proxy 2309livewire:9000
    php_fastcgi 2309livewire:9000
    root * /home/2309livewire/public/
}

stn.local {
    import base
    php_fastcgi 2309livewire:9000
    root * /home/2309livewire/public/
}


x-parser2.local {
    tls internal
    #reverse_proxy python-parser:5001
    #log /home/access.log
}

parser22.local {
    tls internal
    #auto_https off
    #reverse_proxy / python-parser23:5033
    reverse_proxy / web_scraper:5003
    #log /home/access.log
}



*.ru, *.xn--p1ai, *.com, *.info, *.local {
    import base
    php_fastcgi 2309livewire:9000
    root * /home/2309livewire/public
}
